---
import { Formatter } from "@utils/formatter";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import BlogLayout from "src/layouts/BlogLayout.astro";

export const getStaticPaths = (async() => {
    const blogPost = await getCollection('blog');

    return blogPost.map((post) => ({
        params: { slug: post.slug },
        props : { post: post }
    }))
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();
const author = await getEntry('author', post.data.author.id);
---

 <BlogLayout title={ frontmatter.title }>
    <h1 class="text-center text-5xl text-gray-200 mb-0" id="titulo">{frontmatter.title}</h1>
    <div class="flex justify-between mb-0 mt-2">
        <div class="text-md text-gray-400 mb-0 flex mt-2">
            <Image 
                src={author.data.avatar}
                alt={author.data.name}
                class="rounded-full"
                width={50}
                height={50}
            />
            <div class="flex flex-col ml-5">
                <a href={`/blog/${frontmatter.author.id}`}>{author.data.name}</a>
                <span class="text-xs text-gray-200">
                    {Formatter.formatDate(post.data.date)}
                </span>
            </div>
        </div>
        <div class="mt-2">
            <button class="btn" onclick="history.back()">Regresar</button>
        </div>
    </div>

  <Image
    src={frontmatter.image}
    alt={frontmatter.title}
    width={600}
    height={220}
    class="object-cover w-full h-[250px] my-5 rounded-md"
    transition:name={`${post.slug}-image`}
  />

    <h3>Tabla de contenidos</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>
                        { index + 1 } - {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>

    <!-- Contenido -->
    <Content />

    <div class="my-20">
        <a href="#titulo">Ir arriba</a>
    </div>

 </BlogLayout>

 <style>
    .btn {
        @apply text-blue-500 hover:underline mr-2;
    }

</style>