---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import ButtonLinks from './ButtonLinks.astro';

interface Props {
    author: CollectionEntry<'author'>;
}

const { author } = Astro.props;
const { avatar, bio, github, name, linkedIn, subtitle, twitter } = author.data;
---

<div class="max-w-lg mx-auto bg-gray-700 rounded-lg shadow-md p-5">
    <Image 
        src={avatar} 
        class="w-32 h-32 rounded-full mx-auto" 
        alt={name}
    />
    <h2 class="text-center text-white text-2xl font-semibold mt-3">{name}</h2>
    <p class="text-center text-white mt-1">{subtitle}</p>
    <div class="flex justify-center mt-5">
        <!-- <a 
            href={twitter} 
            class="text-white bg-black hover:text-blue-500 p-3 m-2"
        >
            Twitter
        </a>
        <a 
            href={linkedIn}
            class="text-white bg-black hover:text-blue-500 p-3 m-2"
        >
            LinkedIn
        </a>
        <a 
            href={github}
            class="text-white bg-black hover:text-blue-500 p-3 m-2"
        >
            GitHub
        </a> -->
        <ButtonLinks />
    </div>
    <div class="mt-5">
        <p class="text-white mt-2">
            {bio}
        </p>
    </div>
    <div class="flex justify-end">
        <a class=" text-white hover:text-blue-500" href={`/blog/${author.id}`}>Leer más</a>
    </div>
    
</div>